// .header ul,
// .footer ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// .header li,
// .footer li {
//   display: inline-block;
// }

//! SIMPLE MIXIN
@mixin inline-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 0.5em;
    display: inline-block;
  }
}

.header ul {
  @include inline-list();
  li {
    background-color: black;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.footer ul {
  @include inline-list();
  li {
    background-color: salmon;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

//! MIXIN ARGUMENTS
@mixin flex-box($direction: row, $justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

.main {
  @include flex-box(row-reverse, space-around);
  background-color: #eaeaea;
  width: 600px;
  height: 400px;

  .box {
    background-color: saddlebrown;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
  }
}
